@model IEnumerable<Aeg.TaskManager.Entity.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/2.1.2/css/dataTables.bootstrap4.css" rel="stylesheet" />
<div class="card my-4">
    <div class="card-body table-responsive">
        <div class="px-5 mb-3 ">
            <h2 class="text-center my-2 pb-1 font-weight-normal border-bottom">Kullanıcı Listesi</h2>
            <a class="btn btn-sm btn-primary float-right" href="/User/Create">Ekle</a>
            <table id="example" class="table my-2  table-striped table-hover table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.NameSurname)
                        </th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>
                                @item.Username
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.NameSurname
                            </td>
                            <td>
                                <a class="btn btn-sm btn-success " href="/User/Update/@item.Id"><i class="fa-solid fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm" href="/User/Delete/@item.Id"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.bootstrap4.js"></script>
<script>
    new DataTable('#example');
</script>
